name: tareo
description: "A simple Flutter app for reporting daily support activities to a PocketBase backend"
publish_to: 'none'

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  pocketbase: ^0.23.0+1
  flutter_secure_storage: ^9.0.0
  provider: ^6.0.5
  go_router: ^17.0.0
  intl: ^0.20.2
  google_fonts: ^6.1.0
  flutter_launcher_icons: ^0.14.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"
  web:
    generate: true
  windows:
    generate: true
  macos:
    generate: true
  linux:
    generate: true
